---
/**
 * Logo Component
 * Displays Pinokochan brand logo with customizable size
 * Props:
 * - class?: Additional CSS classes
 */
interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<a href="/" class={`inline-block group ${className}`}>
  <img
    src="/images/logo.png"
    alt="Pinokochan"
    class="h-10 w-auto transition-transform group-hover:scale-105"
  />
</a>
